name: Semi-Conductor Analysis Bot

on:
  schedule:
    # 한국 시간 기준 월~금 오후 4시 30분 실행 (UTC 07:30)
    - cron: '30 7 * * 1-5'
  workflow_dispatch: # 수동으로 [Run workflow] 버튼 눌러서 실행 가능

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install finance-datareader yfinance pandas requests

      - name: Run Script
        run: python start2.py
